body {
  text-align: center;
  font-family: "Merriweather", serif;
}

#gradient-background {
  background: linear-gradient(300deg, #ff9d00, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#gradient-background::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    pointer-events: none;
  }
  

.web-title {
  position: relative;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 200px;
}

.web-title h1 {
  font-size: 4rem;
  margin: 50px auto 20px auto;
  font-family: "Sacramento", cursive;
}

.web-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro {
  text-decoration: underline;
}

.web-body h1 {
  padding-bottom: 20px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.web-body p {
  line-height: 1.7;
}

.break {
  border: dotted #d8186b 6px;
  border-bottom: none;
  width: 4%;
  margin: 85px auto;
}

svg {
  margin-bottom: 20px;
}
